@font-face {
  font-family: "GroteskLight";
  src: url(https://cdn.jsdelivr.net/gh/liangchuxin/perfmatch/fonts/GroteskLight.ttf)
    format("truetype");
}
@font-face {
  font-family: "Grotesk-Regular2";
  src: url(https://cdn.jsdelivr.net/gh/liangchuxin/perfmatch/fonts/Grotesk-Regular2.ttf)
    format("truetype");
}
@font-face {
  font-family: "URWGrotesk-Regular3";
  src: url(https://cdn.jsdelivr.net/gh/liangchuxin/perfmatch/fonts/URW%20Grotesk%20Medium.ttf)
    format("truetype");
}
@font-face {
  font-family: "URWGrotesk-Regular2";
  src: url(https://cdn.jsdelivr.net/gh/liangchuxin/perfmatch/fonts/URW%20Grotesk%20Regular.ttf)
    format("truetype");
}
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800;900&family=Lato&display=swap");
