.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 19px;
  color: #2d2d2d;
  padding: 4px 109px;
  background: #ffffffcf;
  position: sticky;
  top: 0;
  box-shadow: 0 3px 18px 0 rgba(64, 23, 0, 0.5);
  z-index: 99;
  a {
    cursor: pointer;
  }
  .logo {
    height: 70px;
  }
  .menu {
    display: flex;
    span {
      margin: 24.5px 0 24.5px 42px;
      -webkit-font-smoothing: antialiased;
      cursor: pointer;
    }
  }
  .user {
    height: 60px;
    cursor: pointer;
    img {
      border-radius: 8px;
      height: 50px;
      margin: 5px;
    }
    .dropDown {
      // position: fixed;
      // top: 112px;
      // right: 54px;
      // padding: 33px;
      // flex-direction: column;
      // background-color: #fff;
      // border-radius: 6px;
      // box-shadow: 9px 15px 90px 0 rgba(0, 0, 0, 0.12);
      // display: none;
      // // transition: all 0.85s cubic-bezier(0.19, 1, 0.22, 1);
      // transition: all 0.3s;
      // transition-duration: 0.3s;
      // visibility: hidden;
      // opacity: 0;
      // transform: translateY(10px);
      // // transition-property: display, transform, opacity, visibility;
      > *:last-child {
        margin-bottom: 0;
      }
      a {
        text-decoration: none;
        display: block;
        font-family: lato, sans-serif;
        font-size: 17px;
        font-weight: 400;
        color: #737373;
        -webkit-font-smoothing: antialiased;
        margin: 0 0 23px;
        transition: 0.3s;
      }
      a:hover {
        color: #2d2d2d;
      }
    }
    // .dropDown.active {
    //   display: block;
    //   opacity: 1;
    //   visibility: visible;
    //   transform: translateY(0);
    //   transition: 0.3s;
    // }
    .hoverer {
      height: 35px;
      display: none;
    }
    .hoverer.active {
      display: block;
    }
  }
}

.btn {
  display: inline-block;
  background: black;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
